body {
  background-color: #f5f2ea;
  padding: 0 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h1 {
  border-bottom: 1px solid grey;
  /* ensure that bottom border does not cover entire page horizontally */
  display: inline-block;
  /* 1 rem 16px by default (browser settings).   */
  /* rem for bigger padding measurements */
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

main {
  /* centre the element across all axis */
  /* must use flex to justify content */
  display: flex;
  /* x axis */
  justify-content: center;
  /* y axis */
  align-items: center;
  /* enable the flipping of the card */
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin: 0 auto;
}

.container {
  background-color: #ffffff;
  border-radius: 1rem;
  /* width settings based on different screen widths */
  /* container width will grow according to screen */
  /* ---------------------------------------------- */
  /* container width cannot go lower than 350px */
  /* container width cannot go higher than 500px*/
  min-width: 350px;
  max-width: 500px;
  /* default 50% of screen */
  width: 50%;
  /* container height cannot go lower than 700px */
  min-height: 700px;
}

.container header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header h2 {
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.container header h3 {
  margin-top: 0.2rem;
  font-weight: 200;
  font-size: 1rem;
  width: 80%;
  margin: auto;
}

/* input fields settings */
.setting {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border: 1px solid #000000;
  padding: 0.35rem 0.85rem 0.35rem 0.4rem;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 0.3rem;
  font-family: "Work Sans", sans-serif;
}
input[type="text"]:focus {
  outline: none;
  border: 1px solid #dea764;
}
/* changes colour of input box once selected */
input[type="text"]:focus {
  outline: none;
  border: 1px solid #dea764;
}
